<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Chat App</title>
  </head>
  <body>
    <header>
      <h2 id="header-title">Chat App</h2>
      <h4 id="user_name">Prabhat Kumar</h4>
    </header>

    <div class="main">

      <div class="panel">

      </div>

      <div class="chat">
        <ul id="chats">
        </ul>

        <form>
          <input type="text" id="message" />
          <button id="send">Send</button>
        </form>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
